.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 33%
    right: 85%
    width: 70px
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 68%
    right: 88%
    width: 85px
  &-3
    animation: rotate1 7.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 25%
    width: 70px
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes rotate1
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
@media (min-width: 576px) 
  .banner-principal__img 
    padding-top: 0rem !important


//utilidades
.img65
  width: 65px  
.img90
  width: 90px
.img250
  width: 250px
.img12a
  with: 120%
.img12b
  with: 65px
.img12c
  with: 20px
.brd--rad
  border-radius: 20px
.hr--line
  margin: 1rem 0
  width: 100%
  height: 1px  
  background-color: #B0C0D2
.b--rad
  border-radius: 0px 0px 20px 20px 
.bg--gradientBlue        
  background: linear-gradient(0deg, rgba(215,236,252,1) 0%, rgba(239,246,252,1) 100%)

.dialogo.color-primario .dialogo__words__word
  color: #3c7792 !important


  ///// Utildiades texto --------------------------------------
.cstmH3
  display: inline-block
  padding-bottom: 7px
  margin-bottom: 2rem
  border-bottom: 3px solid #FF6B00
.txt--green
  color: #39A900 !important

///// colores --------------------------------------
.clr--gris
  background-color: #f3f3f3
.clr--pink
  background-color: #FFAFB2
.clr--pink02
  background-color: #FFDFE0
.clr--orange
  background-color: #FF6B00
.clr--gray
  background-color: #F9F9F9
.clr--paleBlue
  background-color: #ECF3FB
.clr--paleGreen
  background-color: #DEF2F4
.clr-paleYellow
  background-color: #FFF8D9

.anexo.cstm
  background-color: white
  &:hover    
    .anexo__texto
      p   
        color: #2e5d97

.color-morado-claro
  background-color: #D1BCFF !important
   
.color-morado-fuerte
  background-color: #673AB7 !important

.gris
  background-color: #DADDDF !important
 
//// Linea de pasos
.pasos-b__header__item--before .pasos-b__header__item__dot 
  border-color: #D1BCFF !important
  background-color: #D1BCFF  !important

.pasos-b__header__item--before .pasos-b__header__item__line-container:before, .pasos-b__header__item--before .pasos-b__header__item__line-container:after 
    background-color: #9D9D9D !important

.pasos-b__header__item:last-child .pasos-b__header__item__line-container:after 
    background-color: transparent !important

.pasos-b__header__item--active .pasos-b__header__item__line-container:before 
    background-color: #9D9D9D !important

.pasos-b__header__btn--left .pasos-b__header__btn--right
    min-width: 50px
    max-width: 50px
    min-height: 50px
    max-height: 50px
    //flex: auto
    border-radius: 50%
    border: 2px solid #12263F !important
    background-color: #FFD54F !important
    position: relative
    cursor: pointer
    transition: border-color 0.2s ease-in-out
 
///// Custom acordeon A tipo A -------------------------------------- 
.tarjeta.acordeonA
  background-color: #DADDDF
.acordion__accion__btn--a
  background-color: $color-acento-botones !important
.acordion__activo
  background-color: #EEF9F6
  background-image: url(../assets/curso/temas/tema1/bg3.png)
  background-color: #F7C99C
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.tarjeta--gris 
    background-color: #DADDDF

/// otros

.cajon.color-primario
  background-color: #D1BCFF

.borde-redondo
  border-radius: 20px

// tarjetas animadas

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #BEE8DA
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

// tarjetas con avatar
.crd
  &.brd--rad
    border-radius: 20px 
  &.crd--grayGrad
    padding: 2rem
    height: 100%
    background-color: #F6F6F6
    border-radius: 15px    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    &:hover      
      background: linear-gradient(180deg, rgba(25,137,226,1) 0%, rgba(10,81,139,1) 100%)
      h4, p
        color: white 
      .bottomCircle
        &::before
          background-color: #FED981
  &.crd--blue
    background-color: #B1DBEA

  &.crd--border
    border: 4px solid $color-acento-botones
    border-radius: 20px

.bottomCircle
  position: relative
  & > *
    position: relative
  &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 115px
    height: 115px
    background-color: #116EB9
    border-radius: 999px

.crd--avatarHorizontal
  position: relative
  padding-right: 17rem
  & > *
    position: relative
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: 100%
    height: 100%
    background-color: #F7C99C
  @media (max-width: 1000px)
    padding-right: 2rem
.crd--first
  &::before 
    border-top-left-radius: 30px
    background-color: #BEE8DA
.crd--last
  &::before 
    border-bottom-left-radius: 30px
    background-color: #5EC6A3
.avatar
  position: absolute
  bottom: 0
  right: -4rem
  width: 320px
  z-index: 1
  @media (max-width: 1000px)
    display: none


  ////// Number --------------------------------------
.number
  position: relative
  & > *
    position: relative
  &::before
    content: attr(data-number)   
    position: absolute
    top: -6rem
    left: 0rem
    width: 100%
    height: 100%
    font-weight: 700
    font-size: 120pt
    color: #E1E2E5
    z-index: 0

  //linea de tiempo nueva
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left
  background-color: $color-acento-botones
  border-color: $color-acento-botones

//parametrización linea porque nos vestimos ?
.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color: $color-acento-botones
    color: $color-sistema-texto 
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
    background-color: #EEF9F6
.fondo-moradoclaro
  background-color:#EEF9F6
.linea-tiempo-d__item__content__slot
  background-color:#EEF9F6

// nueva tabla
.bg1claro
  background-color: #5EC6A3
.bgmoradooscuro
  background-color: #673AB7
.bgblanco
  background-color: white
.tabla-b 
  border-color: #AFAFAF !important

// arrego de fondo de la tarjeta
.fondo
  border-radius: 0px
  background-image: url('../assets/curso/temas/tema1/fondo-tarjeta.svg')
  background-repeat: no-repeat

.tarjeta.fondo2
  background-image: url('../assets/curso/temas/tema3/fondo1.svg')
  background-repeat: no-repeat



// correccion tamaño borde tarjeta
.ancho-bordeclaro  
  border: 5px solid #D1BCFF !important

.ancho-bordeoscuro
  border: 5px solid #673AB7 !important

// correccion tabs y slyder

.tabs-a__tab
  background-color: #DADDDF
.tabs-c__tab--active 
  background-color: white
.tabs-c__tab
  background-color:  #DADDDF
.slyder-f__btn i 
  color: $color-acento-botones !important

// sangría viñeta
.fa-ul
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem
.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem

//viñeta amarilla
.lista-ul--color.vamarillo li > i:first-of-type 
  color: #FEA772 !important
  font-size: 25px
  position: relative !important
  top: -5px !important
  margin-right: 7px !important
  vertical-align: top !important
.lista-ul__vineta.vamarillo:before
  color: transparent !important

//viñeta morada oscura
.lista-ul--color.vmorada li > i:first-of-type 
  color: #63503E !important
  font-size: 25px
  position: relative !important
  top: -5px !important
  margin-right: 7px !important
  vertical-align: top !important
.lista-ul__vineta.vmorada li > i:first-of-type
  color: #63503E !important
  font-size: 25px
  position: relative !important
  top: -5px !important
  margin-right: 7px !important
  vertical-align: top !important
.lista-ul__vineta.vmorada:before
  color: transparent !important



//borde tabla
.tabla-b.bordenegro
  border: 2px solid #AFAFAF !important
  border-color: #AFAFAF !important
.bordeizquierdocelda
  border-left: 2px solid #AFAFAF !important

// Banner interno - subtitulo
.banner-interno__fondo    
  background-image: url("../assets/curso/temas/mini-portada.png") !important


//color boton siempre negro
.texto-negro
  font-color: $color-sistema-texto !important
.texto-verde100
  color: #5EC6A3 !important
  font-size: 30px

// borde morado tarjetas nuevas
.borde-c1
  border: 3px solid #F7C99C !important
.estilo500
  background-color: white !important
  border: 5px solid #5EC6A3 !important
.bg2claro
  background: #5EC6A3
.texamarillooscuro
  color: #FEA772 !important
  font-size: 30px !important
  padding-right: 10px
  top: 0px !important



/* 2026 */
.bg1
  background-color: #BEE8DA
.bg2
  background-color: #FEF5E5
.bg3
  background-color: #F7C99C
.bg4
  background-color:  #B8EBD8
.bgi-1
  background-image: url(../assets/curso/temas/tema1/bg.png)
  background-color: #F7C99C
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.bgi-2
  background-image: url(../assets/curso/temas/tema1/bg2.png)
  background-color: #F7C99C
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.bgi-3
  background-image: url(../assets/curso/temas/tema1/bg3.png)
  background-color: #F7C99C
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.bgi-4
  background-image: url(../assets/curso/temas/tema1/bg4.png)
  background-color: #F7C99C
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.bgi-5
  background-image: url(../assets/curso/temas/tema3/bg.png)
  background-color: #F7C99C
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.bgc-1
  background-image: url('../assets/curso/temas/tema2/bg.png')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgc-2
  background-image: url('../assets/curso/temas/tema2/bg2.png')
  background-position: top
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bg-deco
  position: relative
  img, p
    z-index: 99
    position: relative
  .bg2
    position: relative
    &::before   
      content: ""
      position: absolute
      top: 0px
      left: -20%
      height: 100%
      width: 100%
      background-color: #FEF5E5
    @media (max-width: $bp-max-md)
      &::before 
        background-color: transparent
  .bg1
    position: relative
    &::before   
      content: ""
      position: absolute
      top: 0px
      right: -20%
      height: 100%
      width: 100%
      background-color: #BEE8DA
    @media (max-width: $bp-max-md)
      &::before 
        background-color: transparent


figcaption
  font-weight: normal
.mh-px1
  min-height: 380px
.w-150x
  max-width: 160px
.subt
  width: fit-content
  position: relative
  img
    width: 50px
    z-index: 99
  h3
    z-index: 999
    padding: 0px 50px 0px 15px
  &::before   
    content: ""
    position: absolute
    top: 5px
    height: 80%
    width: 100%
    border-radius: 500px
    background-color: #FEF4EB
.subt2
  background-color: #FADE93
  border-radius: 500px
  width: fit-content
  padding: 7px 20px
  i
    font-size: 10px
    top: 8px !important
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: $color-acento-botones
  border-color: $color-acento-botones
  opacity: 1
.slyder-a__bullets__item
  background-color: $color-acento-botones
  border-color: $color-acento-botones
  opacity: 0.6
  &--active 
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    opacity: 1
  @media (max-width: $bp-max-md)
    margin: 0 6px  
.tarjeta-numerada__numero.t1
  width: 80px
  height: 80px
.tabs-c__header  
  margin-bottom: 0px
  .tabs-c__tab--active
    background-color: $white
    span
      font-weight: bold
.tarjeta-avatar-b.t3 .tarjeta-avatar-b__img
  max-width: 10%
  min-width: 10%


